body, html, ol, ul, div, img, p, h1, h2, h3, h4, h5, h6, a{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-weight: normal;
}

body, html {
    height: 100%;
}

.navBar {
    height: 50px;
    background-color: #333;
}

.parallax {
    positition: relative;
    background-image: url(meAtPark.jpg);
    width: 100%;
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myName {
    color: white;
    width: 185px;
    float: left;
    margin: 10px 0 0 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: didot, sans-serif;
}

.navRight {
    width: 400px;
    float: right;
    margin: 10px 10px 0 0;
    font-size: 25px;
}

.nav {
    color: floralwhite;
    margin-left: 25px;
    font-family: didot, sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

#nav1 {
    text-decoration: underline;
}

.nav:hover {
    text-decoration: underline;
    color: navajowhite;
}

.middleWord {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: darkgray;
    opacity: 0.8;
    border-radius: 5px;
}

h1 {
    font-size: 35px;
    color: white;
    font-family: "Apple chancery", "gulim", "segoe script", sans-serif;
    padding: 5px 60px;
    text-align: center;
    opacity: 1;
}

body {
    background: linear-gradient(to bottom, #f0f0f5, #CCC);
}


.content1 {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 10px 0;
    border-bottom: 2px solid black;
}

h2 {
    font-family: cursive;
    font-weight: bold;
    font-size: 35px;
}

.subHeading {
    width: 60%;
    margin: 20px auto 30px auto;
    text-align: center;
}

h3, p {
    font-size: 25px;
    font-family: copperplate, sans-serif;
}

.parallax1 {
    background-image: url(field.jpg);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoHeading {
    width: 750px;
    margin: 0 auto;
}

.photoHeading, .outdoorsHeading, .programmingHeading {
    background-color: #BBB;
    opacity: 0.7;
    border-radius: 5px;
}

.parallaxHeading {
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
    font-family: klee, sans-serif;
    letter-spacing: 5px;
}

h4 {
    opacity: 1;
    color: white;
}

.photoContentOut {
    width: 100%;
    background-color: #BBB;
    overflow: hidden;
}

.photoContentIn, .outdoorsContentIn {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 5px;
}

p {
    font-size: 30px;
}

.photoP {
    margin-top: 50px;
    width: 50%;
    float: left;
    text-align: left;
    overflow: hidden;
    padding-bottom: 10px;
}

.flowerIMG {
    width: 40%;
    float: right;
    margin-top: 30px;
    border: 4px solid #888;
    border-radius: 3px;
    margin-bottom: 30px;
}

.parallax2 {
    background-image: url(meBasketball.jpg);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outdoorsHeading {
    width: 600px;
    margin: 0 auto;
}

.outdoorsContentOut {
    width: 100%;
    background-color: #222;
    color: white;
}

.outdoorsContentIn {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.outdoorsIMGS {
    margin-top: 20px;
}

.snowboarding, .arch, .canyonlands {
    float: left;
    width: 25%;
    margin-left: 5%;
}

.parallax3 {
    background-image: url(computer-programming-img.jpeg);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.programmingHeading {
    width: 800px;
    margin: 0 auto;
}