.puzzle {
    margin-top: 3px;
}

.projectsParallax {
    position: relative;
    background-image: url(projectsParallax.jpg);
    width: 100%;
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectsContainer {
    padding: 50px 0;
    background-image: url("mochaGrunge_@2X.png");
    overflow: hidden;
}

.projectsContent {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.leftContainers {
    float: left;
    width: 45%;
    transition: all 0.2s;
}

.minesweeperIMG, .golfScorecardIMG, .flappyIMG, .todoAppIMG {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.leftContainers:hover {
    border: 5px solid #777;
    box-shadow: 10px 10px 20px #AAA;
    cursor: pointer;
}

.rightContainers:hover {
    border: 5px solid #777;
    box-shadow: -10px 10px 20px #AAA;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black;
}

.rightContainers {
    float: right;
    width: 45%;
    transition: all 0.2s;
}

.websitePhoto {
    width: 89%;
    margin-left: 5%;
}