@keyframes rotate {
    from {transform: rotate(270deg);}
    to {transform: rotate(360deg);}
}

@keyframes secondRotate {
    from {transform: rotate(360deg);}
    to {transform: rotate(270deg);}
}

.showContentRotate {
    animation: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hideContentRotate {
    animation: secondRotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.plane {
    margin-top: 5px;
    font-size: 40px;
}

.resumeParallax {
    position: relative;
    background-image: url(woodchip.jpg);
    width: 100%;
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {


    font-family: Helvetica;
    font-weight: 100;
    margin-bottom: 10px;
}

h2 {
    font-family: "American Typewriter";
    font-weight: 100;
    padding: 20px;
}

h3 {
    margin: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

h3:hover {
    cursor: pointer;
}

h4 {
    font-size: 35px;
    color: antiquewhite;
}

.sectionHeader {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.resumeContent {
    width: 100%;
    background-color: #424242;
}

.contentContainers {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.educationClick, #workClick, #summaryClick {
    width: 100%;
    height: 50px;
    background-color: #B71C1C;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
    color: antiquewhite;
    font-size: 50px;
    margin-left: 10px;
    transform: rotate(270deg);
    float: left;
}

.educationContent {
    width: 100%;
    background-color: #F44336;
    border-radius: 0 0 5px 5px;
}

.educationContent p, #workContent p {
    margin-left: 30px;
}

.shadow {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px black;
}

#workClick {
    background-color: #283593;
}

.needMargin {
    margin-top: 50px;
}

.needPadding {
    padding-top: 50px;
}

.center {
    text-align: center;
}

#workContent {
    width: 100%;
    background-color: #7986CB;
    border-radius: 0 0 5px 5px;
}

#summaryClick {
    /*background-color: #cca300;*/
    background-color: #FBC02D;
}

#summaryContent {
    width: 100%;
    /*background-color: #ffcc00;*/
    background-color: #FFEB3B;
    border-radius: 0 0 5px 5px;
}

.skillsContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 0;
}

.skills{
    width: 200px;
}

.skills > img {
    width: 100%;
}

#HSContent1 {
    display: none;
}