@keyframes rotate {
    from {transform: rotate(270deg);}
    to {transform: rotate(360deg);}
}

@keyframes secondRotate {
    from {transform: rotate(360deg);}
    to {transform: rotate(270deg);}
}

.showContentRotate {
    animation: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hideContentRotate {
    animation: secondRotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.plane {
    margin-top: 5px;
    font-size: 40px;
}

.resumeParallax {
    position: relative;
    background-image: url(woodchip.jpg);
    width: 100%;
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-size: 35px;
    color: antiquewhite;
}

.sectionHeader {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.resumeContent {
    width: 100%;
    background-color: #333333;
}

.contentContainers {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.educationClick, #workClick, #summaryClick {
    width: 100%;
    height: 50px;
    background-color: darkred;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
    color: antiquewhite;
    font-size: 50px;
    margin-left: 10px;
    transform: rotate(270deg);
    float: left;
}

.educationContent {
    width: 100%;
    height: 300px;
    background-color: #b30000;
    border-radius: 0 0 5px 5px;
}

.shadow {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 4px black;
}

#workClick {
    background-color: #000080;
}

.needMargin {
    margin-top: 50px;
}

#workContent {
    width: 100%;
    height: 300px;
    background-color: #2f5cb6;
    border-radius: 0 0 5px 5px;
}

#summaryClick {
    background-color: #cca300;
}

#summaryContent {
    width: 100%;
    height: 300px;
    background-color: #ffcc00;
    border-radius: 0 0 5px 5px;
}